.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

body {
  background-color: #f8f8f8;
}

#wrapper {
  width: 100%;
}

.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  min-height: 50px;
  padding: 15px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  min-height: 0;
  padding: 3px 20px;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
  min-width: 0;
  width: 310px;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links .dropdown-user {
  left: auto;
  right: 0;
}

@media (min-width: 768px) {
  .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all 0.5s ease 0s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover, .btn-success.btn-outline:hover, .btn-info.btn-outline:hover, .btn-warning.btn-outline:hover, .btn-danger.btn-outline:hover {
  color: #fff;
}

.chat {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.chat li {
  border-bottom: 1px dotted #999;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
  margin-right: 5px;
}

.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

.login-panel {
  margin-top: 25%;
}

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  height: 100%;
  width: 100%;
}

.dataTables_wrapper {
  clear: both;
  position: relative;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

table.dataTable thead .sorting_asc:after {
  content: "";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
  content: "";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting:after {
  color: rgba(50, 50, 50, 0.5);
  content: "";
  float: right;
  font-family: fontawesome;
}

.btn-circle {
  border-radius: 15px;
  font-size: 12px;
  height: 30px;
  line-height: 1.42857;
  padding: 6px 0;
  text-align: center;
  width: 30px;
}

.btn-circle.btn-lg {
  border-radius: 25px;
  font-size: 18px;
  height: 50px;
  line-height: 1.33;
  padding: 10px 16px;
  width: 50px;
}

.btn-circle.btn-xl {
  border-radius: 35px;
  font-size: 24px;
  height: 70px;
  line-height: 1.33;
  padding: 10px 16px;
  width: 70px;
}

.show-grid [class^="col-"] {
  background-color: #eee !important;
  border: 1px solid #ddd;
  padding-bottom: 10px;
  padding-top: 10px;
}

.show-grid {
  margin: 15px 0;
}

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green .panel-heading {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #fff;
}

.panel-green a {
  color: #5cb85c;
}

.panel-green a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red .panel-heading {
  background-color: #d9534f;
  border-color: #d9534f;
  color: #fff;
}

.panel-red a {
  color: #d9534f;
}

.panel-red a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  color: #fff;
}

.panel-yellow a {
  color: #f0ad4e;
}

.panel-yellow a:hover {
  color: #df8a13;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox.collapsed .ibox-content {
  display: none;
}

.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}

.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}

.ibox:after,
.ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}

.listOpts {
  text-align: center;
  background-color: green;
  padding: 10px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
}

select.btn-mini {
  height: auto;
  line-height: 14px;
}

/* this is optional (see below) */
select.btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding-right: 16px;
}

select.btn-mini + .caret {
  margin-left: -20px;
  margin-top: 9px;
}

.upload-file {
  height: 20px;
  line-height: 20px;
  padding: 4px 6px;
  position: relative;
}

.upload-file input[type="file"] {
  opacity: 0;
  position: absolute;
}

.upload-file label {
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: block;
  left: 0;
  max-height: 28px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s linear 0s;
}

.upload-file label:before {
  background-color: #1ab394;
  border-left: 1px solid #cccccc;
  border-radius: 0 4px 4px 0;
  bottom: 0;
  color: #ffffff;
  content: attr(data-title);
  display: inline-block;
  line-height: 26px;
  padding: 0 8px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.upload-file label [class*="icon-"] {
  border-radius: 4px 0 0 4px;
  bottom: 0;
  color: #ffffff;
  display: inline-block;
  left: 0;
  line-height: 13px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: auto;
}

.upload-file label span {
  color: #777777;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  padding-left: 10px;
  white-space: nowrap;
}

.hr-line-dashed {
  height: 20px;
}

.align-center {
  position: relative;
  left: 25%;
}

sup{
  color:red;
  font-size: medium;
}

.form-horizontal .control-label{
  text-align: left;
  position: relative;
  left: 5%;
}

.btn-selected-blue {
  background-color: #428bca;
  color: #fff;
}
.host-heading {
  display: inline;
  margin-right:20px
}

.order-items {
    margin-left: 20px;
    display: block;
}